*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;
    background-color: hsl(var(--hue-1), 100%, 97%);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    width: 100%;
    border: 3px solid black;


}
.mainlink{
    border: 2px solid royalblue;
}
.links ul{
    /* display: inline; */
    border: 2px solid red;

}
.links{
    display: flex;
    justify-content: space-between;
}
ul{
    border: 4px dotted green;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
}